{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage" }]
  ],
  "plugins": [
    "lodash",
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-optional-chaining",
    "@babel/proposal-class-properties",
    "@babel/syntax-object-rest-spread",
    "@babel/transform-runtime"
  ]
}
